.item {
  border-bottom: 1px solid #cecece;
  display: flex;
  padding: 18px 14px;
  min-width: 350px;
  min-height: 110px;

  .logo {
    max-width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 3px 10px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 0 3px 10px -1px rgba(0,0,0,0.3);
    border-radius: 4px;

    img {
      width: 70%;
      height: 70%;
      border-radius: 2px;
    }
  }

  .content {
    width: calc(100% - 160px - 70px - 24px);
    padding-left: 24px;

    h3 {
      margin: 0 0 8px 0;
      font-size: 0.7em;
    }

    span {
      font-size: 0.5em;
    }
  }

  .actions {
    width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 6px 60px 6px;
    border-left: 1px solid rgba(206, 206, 206, 0.6);

    .remove {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 18px;
      cursor: pointer;
    }

    .price {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 600px){
  .item {
    min-width: unset;
    flex-wrap: wrap;

    .content {
      width: calc(100% - 110px);
    }

    .actions {
      padding: 0;
      border: none;
      justify-content: space-around;

      .remove {
        left: -5px;
        bottom: 0;
        top: unset;
        right: unset;
      }
    }
  }
}